.background-image-container {
  background-image: url(../../../public/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo{
  width: 400px;
  filter: drop-shadow(0px 0px 20px black);
}

.title {
  position: absolute;
  top: 50%;
  left: 10%; /* Ajuste conforme necessário */
  transform: translateY(-50%);
  color: white; /* Altere a cor do texto conforme necessário */
}
